@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
.notosans{
    font-family: 'Noto Sans KR';
}

@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#logo {
  font-family: SBAggroB;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  font-size: 2.5rem;
}

.category-nav {
  width: 419px;
  height: 100%;

  background-color: white;
  padding: 55px 98px 55px 64px;
}

.category-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;


  font-weight: 500;
  font-size: 28px;
  margin-top: 114px;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 66px;

  /* font-size: 1.75rem; */
}

.category p{
  font-size: 28px;
  margin-top: 0; 
  margin-bottom: 0;
}

/* main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: calc(100% - 419px);
  min-height: 100vh;

  background: linear-gradient(to bottom, #BFCDFF, #e6ecfa);
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  width: 100%;

  font-size: 1.25rem;
  line-height: 25px;
  font-weight: 700;
}