/* review-section */
.review-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 120px
}

.review-section__title {
  font-weight: 700;
  font-size: 3.25rem;

  color: #000000;
}

.review-section__subtitle {
  font-weight: 500;
  font-size: 1.6875rem;
  line-height: 44px;

  text-align: center;

  color: #000000;


  text-align: center;

  color: #000000;
}

.review-section__total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 80px;
}

.review-section__total-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 24px;
}

.review-section__total-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: #FFFFFF;
  padding: 24px;
}

.review-section__total-statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.review-section__total-statistics-count {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 150%;

  color: #FFFFFF;
}

.review-section__total-statistics-explain {
  font-weight: 400;
  font-size: 1rem;

  color: #202020;
}

.review-section__review-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 39px;
}

.review-section__review-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 310px;

  background: #484848;
  backdrop-filter: blur(125px);
  border-radius: 0 0 16px 16px;
}

.review-section__review-card-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;

  background-color: #000000;
  border-radius: 51px;
  padding: 24px;

  transform: translateY(-50%);
}

.review-section__review-card-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.review-section__review-card-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;

  text-align: center;

  color: #FFFFFF;
}

.review-section__review-card-subtitle {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;

  text-align: center;

  color: #FFFFFF;
  opacity: 0.7;
}

.review-section__review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  padding: 80px 40px 40px;
}

.review-section__review-title {
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 28px;

  letter-spacing: 0.01em;

  color: #FFFFFF;
}

.review-section__review-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;

  letter-spacing: 0.01em;

  color: #FFFFFF;
}

.review-section__theme-youtube {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 129px;
}

.review-section__theme-youtube-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;

  color: #2B2B2B;
}

.review-section__theme-youtube-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;

  color: #2B2B2B;
}

.review-section__theme-youtube-explain {
  max-width: 408px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;

  letter-spacing: 0.01em;

  color: #8D8D8D;
}

.review-section__theme-youtube-button {
  background: #000000;
  border-radius: 32px;
  color: #FFFFFF;

  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;

  padding: 12px 16px;
}

.review-section__theme-youtube-empty {
  width: 687px;
  height: 409px;

  background: #FFFFFF;
  border-radius: 26px;
}


.review-section__rank-youtube {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 129px;
}

.review-section__rank-youtube-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;

  color: #2B2B2B;
}

.review-section__rank-youtube-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;

  color: #2B2B2B;
}

.review-section__rank-youtube-explain {
  max-width: 408px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;

  letter-spacing: 0.01em;

  color: #8D8D8D;
}

.review-section__rank-youtube-button {
  background: #000000;
  border-radius: 32px;
  color: #FFFFFF;

  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;

  padding: 12px 16px;
}
