@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
.notosans{
    font-family: 'Noto Sans KR';
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.poppins{
    font-family: SBAggroB;
}

*{
    font-family: 'Noto Sans KR';
}


#category p{
    font-size: 28px;
    margin-top: 0; 
    margin-bottom: 0;
}
#category img{
    margin-right: 70px;
}
#category{
    display: flex;
    margin-left: 64px;
    margin-bottom: 48px;
}

#logo{
    font-family: SBAggroB;
}

#login{
    display: flex;
    margin-left: auto;
    margin-top:64px; 
    margin-right: 92px;

    float:right; 
}

#storywrite{
    display: flex;
    justify-content: center;
    align-items: center;
    float:right;
    margin-left: auto;
    
    font-weight: 700;
    font-size: 16px;
    width: 175px;
    height: 48px;
    margin-top: 0px;
    margin-right: 100px;
    background: #000000;
    border-radius: 16px;
}

#category2{
    width:110px;
    height:48px;
    background: white;
    text-align: center;

    margin-top: 4px; 
    margin-bottom:0px; 
    border-radius: 16px;
}

#category2 p{
    color:black;
    font-weight: 700;
    font-size: 28px;  

    margin-top: 1px; 
    margin-bottom:0px; 
}

.youtuber{
    width: 20%;
    height: 420px;
    background-color: #484848;
    border-radius: 16px;

    align-items: center;
    justify-content: center;
    text-align: center;

}