@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
.notosans{
    font-family: 'Noto Sans KR';
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.poppins{
    font-family: SBAggroB;
}


*{
    font-family: 'Noto Sans KR';
}

#category p{
    font-size: 28px;
    margin-top: 0; 
    margin-bottom: 0;
}

#category img{
    margin-right: 70px;
}

#category{
    display: flex;
    margin-left: 64px;
    margin-bottom: 48px;
}

#logo{
    font-family: SBAggroB;
}

#topbar{
    display: flex;
    margin-left: auto;
}

